
<html>
{% load static %}
<head>
  <title>Get Started</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/c11b7d741f.js" crossorigin="anonymous"></script>
  <link href="{% static 'css/mystylee.css' %}" rel="stylesheet" type="text/css">

</head>
<body>
{% block body %}
  <nav class="my-navbar navbar navbar-expand-lg ">
    <a class="navbar-brand" href="/">Nutrition4U</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{% url 'about'%}">About</a>
        <a class="nav-item nav-link"  href="{% url 'contact'%}">Contact</a>
      </div>
    </div>
    <div class="navbar-nav navbar-right" >
      <a class="nav-item nav-link"  href={% url 'signup'%}><i class="fas fa-user-plus"></i>Sign Up</a>
      <a class="nav-item nav-link"  href={% url 'loginpage'%}><i class="fas fa-sign-in-alt"></i>Login</a>
    </div>
  </nav>
  <div class="jumbotron">
    <div class="jumbo">
      <h1 id="jb">Start Simple!</h1>
      <p id="jb1">Get tips, ideas, and a personalized plan<br> to meet your food group targets. <br>Find what works for you and your family<br> within your food preferences, health goals,<br> and budget</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="co-lg-6">
        <div class="content">
          <h1>New Tradition Is Good Nutrition</h1>
          <hr>
          <button  class="bt btn-dark btn-lg" onclick="window.location.href = 'signup';"><i class="fas fa-dumbbell"></i>Get Started!</button>
        </div>
      </div>
    </div>
  </div>
  {%endblock%}
  </body>
  </html>